<div class="wrapper">
  <div class="search-block">
    <div class="logo">
      <img src="../../assets/svg/logo.svg" alt="logo">
    </div>
    <form class="search-form">
      <mat-form-field class="input-field">
        <input placeholder="What are you want to find out?">
      </mat-form-field>
      <button mat-flat-button>search</button>
    </form>
    <button class="button-icon">
      <mat-icon>tune</mat-icon>
    </button>
  </div>
  <div class="user-block">
    <p>Your Name</p>
    <button class="button-icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
