@import "../../scss/mixins.scss";

.wrapper {
  @include wrapper(80px);
}

.search-block {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 0 190px;
}

.search-form {
  margin-top: 5px;

  button {
    @include button(27px, 80px);
  }
}

.input-field {
  min-width: 400px;
  // background-color: #EFEFEF;

  // input {
    // height: 25px;
    // min-width: 400px;
    // background-color: #EFEFEF;
    // border: none;
    // outline-color: #2F80ED ;
    text-indent: 5px;

  // }
}

.button-icon {
  height: 25px;
  width: 25px;
  padding: 0;
  background-color: #2F80ED;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.user-block {
  display: flex;
  column-gap: 10px;
  align-items: center;

  p {
    margin: 0;
    color: #4F4F4F;
  }
}
