<mat-card class="card">
  <img mat-card-image src="{{ card.snippet.thumbnails.medium.url }}" alt="picture">
  <mat-card-content>
    <div class="statistics">
      <span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
        <p>{{card.statistics.viewCount}}</p>
      </span>
      <span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
        <p>{{card.statistics.likeCount}}</p>
      </span>
      <span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">heart_broken</mat-icon>
        <p>{{card.statistics.dislikeCount}}</p>
      </span>
      <span>
        <mat-icon aria-hidden="false" aria-label="Example home icon">forum</mat-icon>
        <p>{{card.statistics.commentCount}}</p>
      </span>
    </div>
    <h2>{{ card.snippet.title }}</h2>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>more...</button>
  </mat-card-actions>
</mat-card>
<div appLabelColor="{{ card.snippet.publishedAt }}" class="label-color"></div>
