@import "../../../scss/mixins.scss";

.card {
  max-width: 300px;
  min-height: 380px;
  text-align: center;
  background-color: #E5E5E5;

  img {
    width: 100%;
    margin: 0 auto;
  }

  button {
    @include button(30px, 120px);
  }
}

.statistics {
  display: flex;
  column-gap: 17px;
  justify-content: center;
  padding: 15px 0;

  span {
    display: flex;
    column-gap: 3px;

    p {
      margin: 0;
    }
  }
}

.label-color {
  height: 8px;
}

