@import "../../../../scss/mixins.scss";

.wrapper {
  @include wrapper(60vh, #fff);
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 250px;
  padding: 20px;
  background-color: #F2F2F2;

  mat-form-field {
    margin-bottom: 10px;
  }

  button {
    @include button(30px, 125px);
    align-self: flex-end;
    margin-top: 10px;
  }
}
