<div class="statistics">
  <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">visibility</mat-icon>
    <p>{{card.statistics.viewCount}}</p>
  </span>
  <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
    <p>{{card.statistics.likeCount}}</p>
  </span>
  <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">heart_broken</mat-icon>
    <p>{{card.statistics.dislikeCount}}</p>
  </span>
  <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">forum</mat-icon>
    <p>{{card.statistics.commentCount}}</p>
  </span>
</div>
