@mixin wrapper($height, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $height;
  background-color: $color;
}

@mixin button ($height, $width){
  height: $height;
  width: $width;
  background-color: #2F80ED;
  color: #fff;
  line-height: 0;
  cursor: pointer;
}
