@mixin wrapper($color, $position) {
  display: flex;
  align-items: center;
  justify-content: $position;
  width: 100%;
  background-color: $color;
}

@mixin button ($height, $width){
  height: $height;
  width: $width;
  background-color: #2F80ED;
  color: #fff;
  line-height: 0;
}
